.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 1000;
    transition: all var(--transition-speed) ease;
    background-color: transparent;
  }
  
  .header.scrolled {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
  }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo a {
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-color);
  }
  
  .nav-menu ul {
    display: flex;
  }
  
  .nav-menu ul li {
    margin-left: 30px;
  }
  
  .nav-menu ul li a {
    font-weight: 500;
    position: relative;
  }
  
  .nav-menu ul li a:hover {
    color: var(--primary-color);
  }
  
  .nav-menu ul li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: width var(--transition-speed) ease;
  }
  
  .nav-menu ul li a:hover::after {
    width: 100%;
  }
  
  .menu-toggle {
    display: none;
    cursor: pointer;
  }
  
  .menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--dark-color);
    margin: 5px 0;
    transition: all var(--transition-speed) ease;
  }
  
  @media (max-width: 768px) {
    .nav-menu {
      position: fixed;
      top: 0;
      right: -100%;
      width: 70%;
      height: 100vh;
      background-color: white;
      box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
      padding-top: 80px;
      transition: right var(--transition-speed) ease;
      z-index: 999;
    }
    
    .nav-menu.active {
      right: 0;
    }
    
    .nav-menu ul {
      flex-direction: column;
      text-align: center;
    }
    
    .nav-menu ul li {
      margin: 15px 0;
    }
    
    .menu-toggle {
      display: block;
      z-index: 1000;
    }
    
    .menu-toggle.active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 6px);
    }
    
    .menu-toggle.active span:nth-child(2) {
      opacity: 0;
    }
    
    .menu-toggle.active span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -6px);
    }
  }